# Server Configuration
PORT=3000

#mcp auth token
MCP_AUTH_TOKEN="your-mcp-auth-token-here"

# MicroVM Resource Configurations
VM_VCPU_COUNT=1
VM_MEM_SIZE_MIB=128
VM_CPU_QUOTA_US=50000
VM_CPU_PERIOD_US=100000
VM_MEMORY_LIMIT_BYTES=134217728
VM_NOFILE_LIMIT=1024
VM_DISK_LIMIT_BYTES=536870912

# Firecracker and Jailer System Paths (Optional/Defaults shown)
# FIRECRACKER_JAILER_BIN=/usr/local/bin/jailer
# FIRECRACKER_BIN=/usr/local/bin/firecracker
# FIRECRACKER_JAIL_BASE=/var/lib/lambda/jailer
# FIRECRACKER_ARTIFACTS_DIR=/var/lib/lambda/artifacts
# FIRECRACKER_UID=997
# FIRECRACKER_GID=982

